.claude
openspec

build
dist
dist_cv_backup
dist_qt_test
doc

*.mp4
ultralytics

.idea
.vscode

打包命令
*.spec
通过导出onnx模型来优化通用cpu上运行的性能.py

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/
.DS_Store
Thumbs.db
nuitka-crash-report.xml

放gpu电脑上打包